/*DO YOUR JOB*/

:root{
    --d-green: #16423C; 
    --green: #6A9C89; 
    --l-green: #C4DAD2; 
    --white: #E9EFEC;
}

@font-face{
    font-family: Mnt-black;
    src: url("../fonts/Montserrat-Black.ttf"); 
}

@font-face{
    font-family: Mnt-blackItalic;
    src: url("../fonts/Montserrat-BlackItalic.ttf"); 
}

@font-face {
    font-family: Mnt-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Mnt-boldItalic;
    src: url("../fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: Mnt-boldEx;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: Mnt-boldItalicEx;
    src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: Mnt-lightEx;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: Mnt-lightItalicEx;
    src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: Mnt-italic;
    src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
    font-family: Mnt-light;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Mnt-lightItalic;
    src: url("../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: Mnt-med;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Mnt-medItalic;
    src: url("../fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: Mnt;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Mnt-semiBold;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Mnt-semiBoldItalic;
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Mnt-thin;
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: Mnt-thinItalic;
    src: url("../fonts/Montserrat-ThinItalic.ttf");
}

ul {
    padding: 0;
}

h3{
    margin-bottom: 0;
}

small{
    margin-left: 6px;
}

ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--d-green);
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0; /* Ensure it sticks to the top */
    z-index: 1000; /* Ensure it stays above other elements */
    width: auto;
}

.header-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-left h1{
    margin: 0;
    font-size: 2.5rem;
    font-family: Mnt-bold;
}

.header-left img {
    width: auto;
    height: 3.5rem;
    margin-right: 1.5rem;
}

.header-right h1{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: Mnt-thin;
}

/*.container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Ensure it adjusts dynamically 
    overflow: visible; /* Prevent overflow issues 
}
*/

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidebar {
    height: 100%; /* Ensure it spans the full viewport height */
    width: 260px;
    background-color: var(--green);
    color: black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    font-family: Mnt-light;
}

.sidebar div ul li{
    display: flex;
    flex-direction: column;
}

ul li a {
    text-decoration: none;
    color: black;
    margin: 0.2rem 0;
}

li a {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    transition: ease-in-out 0.15s;
}

li a img {
    width: auto;
    height: 1.8rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

ul li a:hover{
    transition: ease-in-out 0.25s;
    margin-left: 6px;
    color: white; 
    background-color: var(--d-green);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Mnt-med;
}

/*
.sidebar ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: ease-in-out 0.15s;
}

.sidebar ul li a:hover {
    transition: ease-in-out 0.25s;
    color: white;
    background-color: var(--d-green);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
}

.login-container{
    width: fit-content;
    display: flex; 
    flex-direction: column;
    color: var(--white);
    background-color: var(--d-green);
    padding: 2rem 5rem;
    border-radius: 1rem;
}

.login-container h2{
    width: fit-content;
}

.login-container img{
    padding: 0;
    margin: auto; 
    height: 20rem;
    width: fit-content;
}

.login-container-inputs form{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    width: 100%;
}

.login-container-inputs form input{
    padding-left: .5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 1px inset rgba(0, 0, 0, 0.1)
}

.login-container-inputs form button{
    margin: 0.5rem 5.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.login-container-inputs form button:hover{
    transform: scale(1.03);
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.2);
}

.login-container-inputs form button:active{
    transform: scale(1);
    border: 1px inset rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.6);
}

.error {
    font-size: 14px;
    font-style: oblique;
    color: red;
    margin-bottom: 4px;
}

/*.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 18rem; /* dis adjusts 'contentDIV' to move for the sidebar 
    flex: 1;
    padding: 30px;
    padding-left: 5px;
    padding-top: 5px;
    overflow-y: auto;
    align-items: center;
    background-color: var(--white);
}
*/

.content{
    display:flex; 
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    width:  100%;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-left: 20rem;
}

.noCenter{
    align-items: normal;
}

.content form input, textarea{
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-style: inset;
    margin-right: 6px;
}

.content form textarea{
    width: 75%;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    resize: none;
}

.content form button{ 
    padding: 0.5rem 1rem;
    background-color: white;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.content form button:hover{
    background-color: whitesmoke;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.2);
}

.content form button:active{
    background-color: rgb(240, 240, 240);
    border: 1px inset rgba(0, 0, 0, 0.6);
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.2);
}

button.logout {
    display: flex; 
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: flex-start;
    background-color: var(--green);
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    transition: ease-in-out 0.2s;
    gap: 4rem;
}

button.logout img { 
    width: auto;
    height: 1.8rem;
}

button.logout:hover {
    background-color: #d9534f;
    box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.1);
}

button.logout:active{
    background-color: #ca2823;
    border: 1px inset rgba(0, 0, 0, 0.2);
    box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

/* dis table cyka */
table {
    width: 100%;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    border-radius: 12px;
    margin-top: 20px;

    box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px #ddd;
    padding: 10px;
    text-align: left;
}

table tr th:first-child{
    padding-left: 1.5rem;
}

table tr th{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.2); /* future-dan, this is the header shadow thingy */
    width: fit-content;
}

table tr {
    background-color: white;
}

td.stud-name{
    background-color: white; 
    transition: none;
}

td {
    cursor: default;
}

table tr td {
    border-bottom: 1px solid #e1e1e1;
    padding: 1rem;
}

table tr:hover {
    background-color: #f2f2f2;
}

table input{
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-style: inset;
    margin-right: 6px;
}

table button{
    background-color: whitesmoke;
    border-style: outset;
    border-radius: 0.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 6px 12px;
    transition: ease-in 0.25s;
    cursor: pointer;
}

table button img {
    width: 24px;
    height: auto;
}

.searchDIV button:hover {
    transform: scale(1.03);
    box-shadow: 0.5px 1px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.searchDIV button:active {
    transform: translateY(2px);
    border-style: inset;
    background-color: rgb(240, 240, 240);
    box-shadow: 1.5px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.searchDIV{
    margin: 0;
    width: fit-content;
    padding: 1rem 1rem;
    background-color: white;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.searchDIV input{
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-style: inset;
    margin-right: 6px;
}

.searchDIV select{
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-style: outset;
    margin-right: 6px;
}

.searchDIV button{
    background-color: whitesmoke;
    border-style: outset;
    border-radius: 0.5rem;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 6px 12px;
    transition: ease-in 0.25s;
    cursor: pointer;
}

.searchDIV button:hover {
    transform: scale(1.03);
    box-shadow: 0.5px 1px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.searchDIV button:active {
    transform: translateY(2px);
    border-style: inset;
    background-color: rgb(240, 240, 240);
    box-shadow: 1.5px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.noMarginTop{
    margin-top: 0;
}

.noRoundTopLeftCorner{
    border-top-left-radius: 0;
}

.dash-student-card {
    background-color: #16423C;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.dash-student-card h2 {
    margin: 0;
    font-size: 18px;
}

.student-info-box {
    background-color: #e0f7fa;
    color: #00796b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.student-info-box i {
    font-size: 24px;
    margin-right: 10px;
}

.student-info-box p {
    margin: 0;
    font-size: 14px;
}

.dash-faculty-stats {
    display: flex;
    gap: 20px; /* Add space between the cards */
    margin-top: 20px;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.dash-faculty-card {
    background-color: var(--green); /* Light green background */
    padding: 20px;
    border-radius: 10px;
    border: 1px outset rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    text-align: center;
    flex: 1 1 250px; /* Make cards responsive with a minimum width */
    max-width: 300px; /* Set a maximum width for the cards */
}

.dash-faculty-card h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(20,20,20);
}

.dash-faculty-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0;
    color: var(--d-green);
}

.announcements-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
}

.announcements-wrapper small{
    color: black;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);   
}

.announcementsDIV{
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.1);

}

.announcementsTitle{
    padding: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.announcementsContent{
    padding: 1.5rem;
}